body {
  /*background-color: #9fe6a0;*/
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.dp {
  margin-top: 20px;
}

hr {
  background-color: inherit;
  border-style: dotted none none;
  border-color: grey;
  border-width: thick;
  margin: 100px auto;
  opacity: 0.7;
  width: 14%;
}

h1 {
  color: #aad8d3;
  font-size: 4vw;
  font-family: 'Kaushan Script', cursive;
  margin: 0 auto;
}

h2 {
  color: #00adb5;
  font-family: 'KoHo', sans-serif;
  font-size: 2.5rem;
}

.sub {
  color: #aad8d3;
  font-size: 2.2vw;
  margin: 5.5vw auto 0;
}

h3 {
  font-family: 'KoHo', sans-serif;
}


/*****************************************************************************/

.top-container {
  display: inline-block;
  position: relative;
}

.bg {
  width: 100%;
}

.Me-text {
  border: 3px solid #EAF6F6;
  /* background-color: rgba(234, 246, 246, .1); */
  padding: 3.5vw;
  position: absolute;
  top: 12vw;
  left: 26.1vw;
}

.pro {
  transition: text-decoration 0.2s;
}

.Me-text:hover .pro {
  text-decoration: underline;
  text-decoration-color: #EAF6F6;
}

.top-cloud {
  position: absolute;
  top: 14%;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  top: 45%;
  left:18%;
}

/*****************************************************************************/

.middle-container {
  line-height: 2;
}

.penspin {
  float: left;
  margin-right: 2vw;
  width: 25%;
}

.bball {
  float: right;
  margin-left: 2vw;
  width: 25%
}

.skill-row {
  display: inline-block;
  margin: 70px auto;
  text-align: left;
  width: 60%;
}

/*****************************************************************************/

.bottom-container {
  background-color: #393e46;
  line-height: 2;
  margin-top: 50px;
  padding: 50px;
}

.footer-link {
  color: #00adb5;
  font-family: 'KoHo', sans-serif;
  font-size: 130%;
  margin: 70px;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}

.c {
  font-size: 120%;
  margin-top: 50px;
  margin-bottom: 0;

}

button {
  background: none;
  border: 2px solid;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  margin: 2em auto 0.5em auto;
  padding: 1em 2em;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  transition: transform 0.1s;
}
