body {
  /*background-color: #9fe6a0;*/
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.dp {
  margin-top: 20px;
}

hr {
  background-color: inherit;
  border-style: dotted none none;
  border-color: grey;
  border-width: thick;
  width: 7%;
}

h1 {
  color: #00adb5;
  font-size: 80px;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  color: #00adb5;
  font-family: 'KoHo', sans-serif;
  font-size: 2.5rem;
}

h2:hover .pro {
  background-color: #fdfaf6;
}

.sub {
  font-weight: normal;
}

h3 {
  font-family: 'KoHo', sans-serif;
}

/*****************************************************************************/

.top-container {
  display: inline-block;
  position: relative;
}

.bg {
  width: 100%;
}

.Me-text {
  position: absolute;
  top: 250px;
  left: 550px;
}

.top-cloud {
  position: absolute;
  top: 150px;
  right: 500px;
}

.bottom-cloud {
  position: absolute;
  top: 480px;
  left:350px;
}

/*****************************************************************************/

/* .middle-container {

} */

.penspin {
  float: left;
  margin-right: 50px;
  width: 25%;
}

.bball {
  float: right;
  margin-left: 50px;
  width: 25%
}

.skill-row {
  display: inline-block;
  line-height: 2;
  margin: 70px auto;
  text-align: left;
  width: 60%;
}

/*****************************************************************************/

.bottom-container {
  background-color: #393e46;
  line-height: 2;
  margin-top: 50px;
  padding: 100px;
}

.footer-link {
  color: #00adb5;
  margin: 50px;
}

button {
  background: none;
  border: 2px solid;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  transition: transform 0.1s;
}
